/* dash.css */

.dash-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light gray background for the whole component */
  }
  
  .Dash-con {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff; /* White background for the task columns */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height:auto;
    background-color: #1d4a63;
  }
  
  .Dash-col {
    flex: 1;
    max-width: 300px;
    margin: 0 10px;
  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333333; /* Dark gray color for headings */
    margin-bottom: 10px;
  }
  
  .all-Todos {
    list-style: none;
    padding: 0;
  }
  
  .singleTodo {
    background-color: #f8f8f8; /* Light gray background for individual tasks */
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .todoText {
    font-size: 14px;
    color: #333333;
  }
  
  p {
    cursor: pointer;
    color: #fff; 
    font-size: 14px;
    margin-top: 5px;
  }
  
  p[onClick] {
    cursor: pointer;
    color: #007bff; 
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
  }
  
  .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .popup-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popup-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  
  .popup-button {
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
  }
  